<div class="menu-box"><img src="/assets/front-menu-music.png" alt=""/></div>
<div class="menu-box"><img src="/assets/front-menu-apps.png" alt=""/></div>
<div class="clear">&nbsp;</div>
<div class="menu-box"><img src="/assets/front-menu-fiction.png" alt=""/></div>
<div class="menu-box"><img src="/assets/front-menu-blog.png" alt=""/></div>
