  <h1 class="pagetitle">mobile apps</h1>
  <hr class="article" />

<% @apps.each do |app| %>
<div class="projects">

    <img class="rounded-img" src="<%= app.imagePath %>"/>
    <h1><a href="<%= app.externalLink %>"><%= app.name %></a></h1>
    <%= app.description.html_safe %>
</div>
<% end %>
