  <h1 class="pagetitle">music</h1>
  <hr class="article" />

<% @music.each do |music| %>
<div class="projects">

    <img class="rounded-img" src="<%= music.imagePath %>"/>
    <h1><a href="<%= music.externalLink %>"><%= music.name %></a></h1>
    <%= music.description.html_safe %>
</div>
<% end %>
<div id="clear"/>
<br />
